/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width:1400px) {
    .headerdiv {
        max-width: 1708px;
        width:90%;
        margin-bottom: 0;
        margin-top: 20px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between
    }
    .burger-bar {
        display: none;
    }
    .header {
        position: fixed;
        width: 100%;
        background-color: white;
    }
    .section1 {
        padding-top:100px;
    }
    .intro-wrapper {
        max-width: 1708px;
        width:90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 60px;
    }
    .introleft {
        width: 400px;
        height: 309px;
    }
    .introheading {
    font-size: 40px;
    }
    .introparagraph {
    font-size: 16px;
    }
    .introwaveme {
        width: 163.67px;
        height: 37.77px;
        margin-top: 33.9px;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .introwaveme:hover {
        width: 183.67px;
        height: 50.77px;
    }
    .introimage1 {
        width: 20.29px;
        height: 20.97px;
    }
    .waveme {
        font-size: 16px;
        margin-left: 5.7px;
    }
    .rightimage {
        width: 601px;
        height: 426.63px;
    }
    .introright {
        width: 601px;
        height: 426.63px;
    }
    .footerdiv {
        max-width: 1708px;
        width:90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .iconf {
        font-size:50px;
        color: blue;
        margin-right: 30px;
    }
    .icony {
        font-size: 50px;
        color: red;
        margin-right: 30px;
    }
    .iconi {
        font-size: 50px;
        color: #E1306C;
    }
    .contact:hover {
        font-size:70px;
        color: black;
    }
    .contact {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .serviceheading {
        font-size:30px;
        color:#5A5454;
        text-align: center;
        margin-top:17px;
    }
    .service-wrapper1 {
        max-width: 1169px;
        width:100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin:0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 132.7px;
    }
    .boxes:nth-child(2) {
        background-color: #41EA79;
    }
    .burger-bar {
        display: none;
    }
}
/*media 768*/
@media (max-width:768px) {
    .headerdiv {
        max-width: 1708px;
        width:90%;
        margin-bottom: 0;
        margin-top: 20px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .header {
        position: fixed;
        width: 100%;
        background-color: white;
    }
    .mainlist {
        display:none;
    }
    .intro-wrapper {
        max-width:1708px;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 287.4px;
    }
    .introright {
        margin-top:100px;
    }
    .service-wrapper1 {
        max-width: 1169px;
        width:95%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between
    }
    .boxes {
        width: 300px;
        height: 370px;
    }
    .boxparagraphdiv {
        width: 300px;
        height: 70px;
        margin-bottom: 11px;
    }
    .footer {
        margin-top:60px;
        height: auto;
        width: 100%;
        background-color: grey;
    }
    .footerdiv {
        max-width: 1708px;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .iconsdiv {
        margin-bottom: 20px;
        padding-top:10px;
    }
    .iframe {
        padding-bottom: 10px;
    }
    .burger-bar {
        font-size: 40px;
        color:blue;
        display: flex;
    }
    .boxes:nth-child(2) {
        background-color: #41EA79;
    }
    .serviceparagraph {
        width: 600px;
        height: 150px;
        font-size:18px;
        color:#747474;
        margin:0 auto;
        margin-top: 21px;
        text-align: center;
    }   
}